article.itinerary-container,
article.itinerary-container-expanded {
  width: 100%;
  margin-bottom: 5vh;
  border-radius: 2em;
  overflow: hidden;
  min-height: 85vh;
}

article.itinerary-container {
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 2px 2px 5px black;
}

article.itinerary-container-expanded {
  display: grid;
  grid-template-columns: 1fr 3fr;
  box-shadow: 2px 2px 5px black;
}

div.info-container {
  background: #ece9e6;
  background: -webkit-linear-gradient(to right, #ffffff, #ece9e6);
  background: linear-gradient(to right, #ffffff, #ece9e6);
}

div.itinerary-picture {
  width: 100%;
  height: 35vh;
  background-size: cover;
  background-position: center 70%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 1vw;
}

div.likes-container {
  /* align-self: flex-end; */
  background-color: rgb(216, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2em 1em;
  border-radius: 10px;
}

span.likes-number {
  font-size: 4vmin;
  color: white;
}

img.heart-icon {
  width: 35px;
  margin-right: 5px;
}

div.itinerary-body,
div.author-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itinerary-body {
  position: relative;
  bottom: 60px;
}

.itinerary-info {
  width: 100%;
  display: flex;
  /* justify-content: space-evenly;
  align-items: center; */
  flex-direction: column;
}

div.author-picture {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
}

div.price-container {
  display: flex;
  align-items: center;
  margin-right: 2vw;
}

div.icon-container,
div.duration-container {
  display: flex;
  align-items: center;
}

div.icon {
  width: 20px;
  height: 20px;
  margin-left: 2px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.chat-container-expanded {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-container {
  display: none;
}

button.vm-button {
  margin-top: 1em;
  background-color: transparent;
  border-radius: 5px;
  padding: 5px 10px;
  transition: all 300ms;
  border: 2px solid red;
  box-shadow: 1px 1px 1px black;
}

button.vm-button:hover {
  transform: scale(1.05);
}

@media (max-width: 1000px) {
  article.itinerary-container,
  article.itinerary-container-expanded {
    display: grid;
    grid-template-columns: 1fr;
  }
}

div.chat-container-expanded .nocity {
  margin: 2rem 0;
}

h2.itinerary-title {
  font-size: 7vmin;
  color: white;
  text-shadow: 4px 4px 4px black;
}
