article.itinerary-container,
article.itinerary-container-expanded {
  width: 100%;
  margin-bottom: 5vh;
  border-radius: 2em;
  overflow: hidden;
  min-height: 85vh;
}

article.itinerary-container {
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 2px 2px 5px black;
  transition: all 500ms;
}

article.itinerary-container-expanded {
  display: grid;
  grid-template-columns: 1fr 3fr;
  box-shadow: 2px 2px 5px black;
  transition: all 500ms;
}

div.info-container {
  background: #ece9e6;
  background: -webkit-linear-gradient(to right, #ffffff, #ece9e6);
  background: linear-gradient(to right, #ffffff, #ece9e6);
}

div.itinerary-picture {
  width: 100%;
  height: 35vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 1vw;
}

div.likes-container {
  align-self: flex-end;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
}

span.likes-number {
  font-size: 5vmin;
}

img.heart-icon {
  width: 45px;
  margin-right: 5px;
}

div.itinerary-body,
div.author-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itinerary-body {
  position: relative;
  bottom: 60px;
}

.itinerary-info {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

div.author-picture {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
}

div.price-container {
  display: flex;
  align-items: center;
  margin-right: 2vw;
}

div.icon-container,
div.duration-container {
  display: flex;
}

div.icon {
  width: 20px;
  height: 20px;
  margin-left: 2px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.chat-container-expanded {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-container {
  display: none;
}

@media (max-width: 660px) {
  article.itinerary-container,
  article.itinerary-container-expanded {
    display: grid;
    grid-template-columns: 1fr;
  }
}
