main.admin-container {
  width: 100%;
}

section.bacol {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
}

div.button-section {
  width: 100%;
  display: flex;
}

div.cities-buttons,
div.itineraries-buttons {
  width: 50%;
}
