section.signup-container{
    flex: 1;
    width: 100%;
    height: 100%;
    /* background-color: white; */
    display: flex;
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

div.form-container{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.form-container h1{
    text-align: center;
    font-size: 10vmin;
    font-weight: bold;
    background: #B80000;
    background: -webkit-linear-gradient(to top, #B80000 0%, #5E0A08 82%);
    background: -moz-linear-gradient(to top, #B80000 0%, #5E0A08 82%);
    background: linear-gradient(to top, #B80000 0%, #5E0A08 82%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div.input-container{
    width: 70%;
    display: flex;
    flex-direction: column;
}

div.input-container input,
div.input-container select{
    margin: .7vh 0;
    border-radius: 20px;
    padding: .3em 1em;
    outline-color: transparent;
    /* border: 1px solid black; */
    border-color: transparent;
    box-shadow: 0px 1px 2px red;
    outline: none;
    background-color: transparent;
}

div.input-container input:hover{
    box-shadow: 1px 1px 3px red;
}
div.input-container input:focus{
    box-shadow: 1px 1px 3px red;
}

div.input-container input:focus::placeholder{
    color: yellow;
    position: relative;
}

div.input-container button{
    width: 30%;
    align-self: center;
    margin-top: 4vh;
    background: linear-gradient(to bottom right, #c45353, #973e3e);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow  1s ease-in-out;
}

div.input-container button:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
  div.input-container button:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

div.benefits-container{
    width: 55%;
    background-color: blue;
}