/* GENERAL STYLES */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&display=swap');

html *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: 'Noto Sans JP', sans-serif;
}

#root{
    display: flex;
    flex-direction: column;
}

/* HEADER STYLES */
header{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
/* NAVBAR */

nav{
    padding: 3vh 5vw;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    color: rgb(139, 139, 139);
    font-size: 3.5vmin;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 1.5rem;
    transition: all 300ms;
}

nav a.active{
    color: white;
    text-decoration: underline;
}

nav a:hover{
    color: white;
  }

nav img{
    width: 40px;
}

/* HERO STYLES */
.hero{
    flex: 1;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1{
    padding: 0px 10px;
    color: white;
    font-size: 10vmin;
    /* background-color: black; */
    margin-bottom: 10px;
}
  
.hero h3{
    color: white;
    font-size: 5vmin;
    text-align: center;
}

.hero img{
    width: 150px;
    margin-bottom: 3vh;
}

/* MAIN STYLES */
main{
    display: flex;
    flex-direction: column;
}

section > h2{
    color: white;
    background-color: red;
    padding: 10vh;
    margin-bottom: 5vh;
    font-size: 10vmin;
    text-align: center;
}

/* MAIN INFO */
section.infoSection{
    min-height: 100vh;
    background-color: blue;
    /* display: flex;
    flex-direction: column; */
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px auto; */
}

.cardSection{
    padding: 10vmin;
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-template-rows: auto
}

article.cardInfo{
    margin: 0px 3vw;
    padding: 5vmin;
    background-color: red;

    display: flex;
    flex-direction: column;
    align-items: center;
}

article.cardInfo img{
    width: 50%;
    margin-bottom: 2vmin;
}

article.cardInfo h2{
    margin-bottom: 3vmin;
}

article.cardInfo p{
    text-align: center;
}

@media (max-width: 600px) {
    .cardSection{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto
    }
    
    article.cardInfo{
        margin-bottom: 5vmin;
    }
}



.shuriken{
    /* background-color: blue; */
    animation: girar 2s infinite linear;
}

@keyframes girar {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(100px);
        transform: rotate(360deg);
    }
}

/* MAIN CALL TO ACTION */
section.callToAction{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.callToAction div{
    width: calc(100% / 3)
}



/* MAIN CAROUSEL */
section.carouselBox{
    min-height: 100vh;
    background-color: #ccc;
    display: flex;
    justify-content: center;
}



.red{
    color: white;
    background-color: red;
}

.white{
    color: red;
    background-color: white;
}

/* FOOTER STYLES */
footer{
    width: 100%;
    min-height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 20%;
    display: flex;
    flex-direction: column;
}

.footerSections{
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footerSection{
    height: 10vh;
    width: calc(100%/3 - 100px);
    background-color: green;
}

.afterFooter{
    width: 100%;
    padding: 1vh 0;
    font-size: 1.5em;
    text-align: center;
    background-color: black;
    color: white;
}

.entero{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

/* .cuarto{
    width: 50%;
    height: 100px;
    background-color: blue;
} */
.cuarto h2{
    z-index: 3;
}
.fotito{
    width: calc(50% - 60px);
    height: 35vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /* background-color: blue; */
    /* background-image: url('../public/assets/cities/kamakura.jpg'); */


}

.fotito > h2{
    color: white;
    font-size: 2em;
    background-color: black;
    width: 100%;
    /* display: block; */
}

.carousel{
    width: 80vw !important;
}

.panda{
    animation: pandita 2s linear infinite;
}

@keyframes pandita {
    0%{
        transform:translate3d(0, 20%, 3em);
    }
    100%{
        transform:translate3d(12px, 50%, 1em);
    }
}