/* GENERAL STYLES */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800;900&family=Rubik:wght@500&family=Work+Sans&display=swap');
html *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body{
    width: 100%;
}

#root{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* HEADER STYLES */
header{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* NAVBAR */
nav{
    padding: 3vh 5vw;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    color: rgb(139, 139, 139);
    font-size: 3.5vmin;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 1.5rem;
    transition: all 300ms;
}

nav a.active{
    color: white;
    text-decoration: underline;
}

nav a:hover{
    color: white;
}

nav img{
    width: 8vmin;
}

/* HERO STYLES */
.hero{
    flex: 1;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero .background{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
    top: 0vh;
    left: 0vh;
}

.hero img.logo{
    width: 40vmin;
    animation: zoom 4s infinite linear;
}

@keyframes zoom {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

.hero h1{
    padding: 0px 10px;
    color: white;
    font-size: 10vmin;
    margin-bottom: 10px;
}

span.red{
    color: white;
    background: linear-gradient(24deg, rgba(255,0,0,1) 0%, rgba(216,0,0,1) 30%, rgba(164,0,3,1) 65%);
    border-radius: 0 2em 2em 0;
    padding-right: 20px;
    font-family: 'Work Sans', sans-serif;
    text-shadow: 2px 2px 5px black;
}

span.white{
    color: red;
    background-color: white;
    padding-right: 5px;
    font-family: 'Work Sans', sans-serif;
    text-shadow: 2px 2px 5px black;
}
  
.hero h3{
    color: white;
    font-size: 4vmin;
    text-align: center;
}

img.arrow{
    width: 20vmin;
}

/* MAIN STYLES */
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url('./assets/bamboo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

section > div > h2{
    color: white;
    font-size: 10vmin;
    text-align: center;
    padding: 7vh;
}

.sectionTitle{
    background-color: #DF5E5E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* MAIN INFO */
section.infoSection{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: grid;
    grid-template-columns: 2fr 8fr;
}

div.cardSection{
    width: 100%;
    padding: 15vmin 7vmin;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
}

div.border{
    height: auto;
    width: calc(100% - 5vmin);
    background-color: rgb(209, 209, 209);
    display: flex;
    grid-column: 2;
}

div.cardSection .border:first-child{
    background-color: #eee;
    grid-column: 1;
}

div.cardSection .border:last-child{
    background-color: #eee;
    grid-column: 3;
}

article.cardInfo{
    padding: 5vmin;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -8px;
    left: 8px;
}

article.cardInfo img{
    width: 50%;
    margin-bottom: 2vmin;
}

article.cardInfo h2{
    color: #444;
    font-size: 5vmin;
    text-align: center;
    font-weight: bold;
    margin-bottom: 3vmin;
}

article.cardInfo p{
    color: #444;
    font-size: 3vmin;
    text-align: center;
}

/* MAIN CALL TO ACTION */
section.callToAction{
    min-height: 100vh;
    max-width: 100vw;
    background-color: #eee;
}

section.callToAction article{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ninja{
    width: 50%;
}

.textContainer{
    padding: 0 10vw;
    width: 60%;
}

div.callText{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: #DF5E5E;
    padding: 3vw;
}
.textContainer h2,
.textContainer h3{
    text-align: center;
    color: black;
    margin-bottom: 3vh;
}

.textContainer h2{
    font-size: 6vmin;
    margin-bottom: 8vh;
}

.button{
    text-decoration: none;
    padding: 2vh 3vw;
    background-color: red;
    border-radius: 50px;
    color: white;
    box-shadow: 2px 2px 5px black;
    margin-top: 5vh;
    font-size: 5vmin;
    transition: all 600ms;
}

.button:hover{
    transform: scale(1.1);
    color: white;
    font-weight: bold;
}

.button span{
    color: white;
    font-size: 7vmin;
    font-weight: bold;
    text-align: center;
    text-decoration: none !important;
}

.without{
    text-decoration: none;
}

/* MAIN CAROUSEL */
section.carouselBox{
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.397);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carouselBox h2{
    width: 100%;
    color: #444;
    font-size: 10vmin;
    padding: 9vh 3vw;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #df5e5e;
    margin-bottom: -10vh;
    text-shadow: 1px 1px 2px white;
}

.singleSlide{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image{
    height: 60vh;
    margin: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 10px 19px 34px -8px rgba(0,0,0,0.75);
    transition: all 500ms;
}

.image:hover{
    flex: 5;
    margin: 10px -10px;
}

.image > span{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.63);
}

.carousel{
    width: 80vw !important;
}

.carousel-control-prev{
    left:  -8vw !important;
}

.carousel-control-next{
    right:  -8vw !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
    background-color: red;
}

/* FOOTER STYLES */
footer{
    width: 100%;
    min-height: 45vh;
    background-color: rgb(44, 44, 44);
    display: flex;
    flex-direction: column;
}

.footerSections{
    flex: 1;
    width: 100%;
    padding: 2vh 5vh;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: auto;
    align-content: center;
}

.footerSection{
    margin: 0 8vw;
    color: white;
}

.footerSection ul{
    list-style-type: none;
    padding-left: 0;
}

footer a,
footer li{
    text-decoration: none;
    color: white;
    font-size: 3vmin;
}

div.social{
    display: flex;
    justify-content: space-evenly;
}

.socialIcon{
    width: 4vmin;
    transition: all 300ms;
}
.socialIcon:hover{
    transform: scale(1.2);
}

.footerSection h4{
    font-weight: bold;
    margin-bottom: 3vh;
}

.third{
    padding: 0px 3vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.afterFooter{
    color: white;
    background-color: black;
    width: 100%;
    padding: 1vh 0;
    font-size: 3vmin;
    text-align: center;
}

/* MEDIA QUERIES */
@media (max-width: 992px){
    /* INFO STYLES */
    section.infoSection{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
    .sectionTitle{
        grid-row: 1;
    }
    .cardSection{
        grid-row: 2;
    }
    /* CAROUSEL STYLES */
    .singleSlide{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top: 5vh;
        margin-bottom: 10vh;
    }
    .image-0{
        grid-column: 1;
        grid-row: 1;
    }
    .image-1{
        grid-column: 2;
        grid-row: 1;
    }
    .image-2{
        grid-column: 1;
        grid-row: 2;
    }
    .image-3{
        grid-column: 2;
        grid-row: 2;
    }
    .carouselBox h2{
        margin-bottom: 0;
    }

}

@media (max-width: 768px){
    /* INFO STYLES */
    div.cardSection{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }
    .border{
        margin-bottom: 3vh;
    }
    div.cardSection .border:first-child{
        grid-column: 1;
        grid-row: 1;
    }
    div.cardSection .border:nth-child(2){
        grid-column: 1;
        grid-row: 2;
    }
    div.cardSection .border:last-child{
        grid-column: 1;
        grid-row: 3;
    }
    article.cardInfo{
        display: flex;
        flex-direction: row;
    }
    article.cardInfo h2{
        width: 100%;
    }
    article.cardInfo img{
        width: 30%
    }
    /* CALL TO ACTION */
    .ninja{
        display: none;
    }
    .textContainer{
        padding: 0;
    }
    /* CAROUSEL STYLES */
    .singleSlide{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    .carouselBox h2{
        margin-bottom: 0;
    }
    .image-0{
        grid-column: 1;
        grid-row: 1;
    }
    .image-1{
        grid-column: 1;
        grid-row: 2;
    }
    .image-2{
        grid-column: 1;
        grid-row: 3;
    }
    .image-3{
        grid-column: 1;
        grid-row: 4;
    }
    /* FOOTER */
    .footerSections{
        padding: 2vh 3vw;
        display: grid;
        grid-template-columns: 3fr 3fr 2fr;
    }
    .footerSection{
        width: 90%;
        margin: 0px 0px;
        /* background-color: blue; */
    }
    .first{
        grid-column: 1;
    }
    .second{
        grid-column: 2;
    }
    .third{
        grid-column: 3;
        width: 80%;
    }
}

@media (max-width: 600px){
    .footerSections{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
    footer h4,
    footer p,
    footer ul{
        text-align: center;
    }
    .third{
        display:none;
    }
}

@media (max-width: 500px) {
    /* INFO STYLES */
    div.cardSection{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
    }
    div.cardSection .border:first-child{
        grid-column: 1;
        grid-row: 1;
        margin-bottom: 5vmin;
    }
    div.cardSection .border:nth-child(2){
        grid-column: 1;
        grid-row: 2;
        margin-bottom: 5vmin;
    }
    div.cardSection .border:last-child{
        grid-column: 1;
        grid-row: 3;
        margin-bottom: 5vmin;
    }
    article.cardInfo{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 440px){
    .footerSections{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        margin: 0 auto;
    }
    .first{
        text-align: center;
        grid-column: 1;
        grid-row: 1;
    }
    .second{
        text-align: center;
        padding-top: 5vh;
        grid-column: 1;
        grid-row: 2;
    }
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 17px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 100px #444;
  }
::-webkit-scrollbar-thumb {
    background: #c45353;
    border-radius: 10px;
  }
::-webkit-scrollbar-thumb:hover {
    background: red;
  }

/* CITIES PAGES */
header.cities{
    min-height: 80vh;
}
.cityHero{
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.rejilla{
  /* padding: 3em 10vw; */
  padding: 3vw;
  display: grid;
  grid-template-columns: repeat(2, calc(100% / 2));
  grid-auto-rows: 90vh;
  gap: .5em;
}

.card-picture{
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    grid-column-start: span 1;
    overflow: hidden;
    transition: all 500ms;
}

a.cardLink{
    transition: all 500ms;
}

a.cardLink:hover .card-picture{
    box-shadow: 3px 3px 5px black;
    transform: scale(1.02);
}

a.cardLink:hover .color h1{
    padding: 0 !important;
    color: transparent;
    display: none;
}

.card-picture h1{
    color: black;
    transition: all 500ms;
}

.color{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.color div{
    display: flex;
    justify-content: center;    
}

.color div img:first-child{
    background-color:white;
    padding:10px 10px 50px 10px;
    border:1px solid #BFBFBF;
    box-shadow:10px 10px 30px rgba(0, 0, 0, 0.8);
    position: relative;
    transform:rotate(5deg);
    -ms-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg); 
}
.color div img:last-child{
    background-color:white;
    padding:10px 10px 50px 10px;
    border:1px solid #BFBFBF;
    box-shadow:10px 10px 30px rgba(0, 0, 0, 0.8);
    position: relative;
    transform:rotate(-8deg);
    -ms-transform:rotate(-8deg);
    -webkit-transform:rotate(-8deg);
    -moz-transform:rotate(-8deg); 
}

.rejilla a:nth-child(4n-2) div .color{
    background: #ECE9E6;
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}

.rejilla a:nth-child(4n-1) div .color{
    background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);
}

.rejilla a:nth-child(4n-1) div .color h1{
    color: white;
    /* margin-top: 5vh; */
}
 
.rejilla a:nth-child(4n-3) .color div,
.rejilla a:nth-child(4n) .color div{
    display: none;
} 

.rejilla a:nth-child(4n-3) .color h1,
.rejilla a:nth-child(4n) .color h1{
    text-align: center;
    width: 100%;
    padding: 10vh 0;
    /* background-color: rgba(85, 85, 85, 0.219); */
     /* background: linear-gradient(0deg, rgba(85,85,85,0.7) 0%, rgba(0,0,0,0.7) 10%, rgba(16,16,16,0.7) 50%, rgba(0,0,0,0.7) 90%, rgba(85,85,85,0.7) 100%); */
    /*transition: all 1s; */
    background: rgba(173, 169, 150, 0.5);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(234, 234, 234, 0.5), rgba(219, 219, 219, 0.5), rgba(242, 242, 242, 0.5), rgba(173, 169, 150, 0.5)); 
    background: linear-gradient(to right, rgba(234, 234, 234, 0.5), rgba(219, 219, 219, 0.5), rgba(242, 242, 242, 0.5), rgba(173, 169, 150, 0.5));

}

.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

/* .rejilla div:nth-child(4n-3):hover .color h1,
.rejilla div:nth-child(4n):hover .color h1{
   background-color: red;
} */

.searcher{
    border-radius: 30px;
    outline: none;
    padding: .5em 1em;
}

a *{
    text-decoration: none !important;
}

.nocity{
    width: 40%;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 3px 3px 10px black;
    padding: 0 3vw;
    display: grid;
    grid-template-columns: 1fr 3fr !important;
    grid-template-columns: auto;
    background: #ECE9E6;
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}

.nocity div:first-child{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
















.mainAdmin{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    padding: 5vw;
}

.mainAdmin section{
    border: 2px solid black;
}

.table{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table>div{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 3vw
}

.dbCardCity{
    border: 1px solid black;
}

.newCity > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newCity>div input{
    width: 80%;
}

.newCity >div label{
    margin-top: 2vh;
}

label{
    font-weight: bold;
}

button.post,
button.getAll{
    width: 30%;
    background-color: green !important;
    color: white !important;
    margin: 3vh 0;
}

/* .itineraries{
    flex: 1;
} */

.come-back{
    padding: 3vh;
    border-radius: 30px;
    background-color: red;
    /* margin: 5vh 0 !important; */
    color: white;
    text-decoration: none;
    font-weight: bold;
}